*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background: #F1F1F6;
}
body{
    display: flex;
    justify-content: center;
}
.wrapper{
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.TextArea{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;   
    resize: none;
    width: 358px;
    box-sizing: border-box;
    border: none;
    height: 84px;
    line-height: 21px;
    color: #000;
    background: #FFFFFF;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    &:hover{
        outline: none;
        border: none;
    }
    &:focus{
        outline: none;
        border: none;
    }
}

.InputPhone{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;   
    resize: none;
    width: 360px;
    box-sizing: border-box;
    border: none;
    height: 48px;
    line-height: 21px;
    color: #000;
    background: #FFFFFF;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    &:hover{
        outline: none;
        border: none;
    }
    &:focus{
        outline: none;
        border: none;
    }
}

.InputName{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;   
    resize: none;
    width: 360px;
    box-sizing: border-box;
    border: none;
    height: 48px;
    line-height: 21px;
    color: #000;
    background: #FFFFFF;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 12px;
    margin-bottom: 20px;
    &:hover{
        outline: none;
        border: none;
    }
    &:focus{
        outline: none;
        border: none;
    }
}